<div class="modal-content">
  <div class="modal-header">
    <h2>Update User Role</h2>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" class="login-content-wrapper">
      <mat-form-field appearance="legacy">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error style="color:red;">Unsuccessful Validation: The entered name already exists!</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Access Areas</mat-label>
        <mat-select multiple [(value)]="selectedContents">
          <mat-option *ngFor="let content of contentList" [value]="content" (onSelectionChange)="change($event)">
            {{content}}
          </mat-option>
        </mat-select>
        <!-- <mat-hint>Please select the subsystems for this role to access</mat-hint> -->
        <ul *ngFor="let item of selectedContents">
          <li>{{item}}</li>
        </ul>
      </mat-form-field>
      <br>
      <button mat-stroked-button (click)="openModal()" color="primary">Update</button>
    </form>
  </div>
  <br><br>

</div>
