<ion-header>
  <ion-toolbar>
    <ion-title>Vouchers</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-container" *ngIf="!loadingFlag">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ng-container *ngIf="loadingFlag">
    <div class="voucher-container">
      <ion-fab vertical="top" horizontal="center" slot="fixed">
        <ion-fab-button>
          <ion-icon name="list"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <div class="voucher-content">
        <h5>All Vouchers</h5>
        <ion-searchbar placeholder="Search Vouchers Code" [(ngModel)]="searchTerm"></ion-searchbar>
        <div class="voucher-div" *ngIf="!voucherFlag">
          <ion-item-sliding *ngFor="let item of voucher | filter:searchTerm">
            <ion-item-options side="start" (click)="presentQrModal(item.voucherCode)">
              <ion-item-option color="tertiary" expandable>
                QR
              </ion-item-option>
            </ion-item-options>

            <ion-item lines="full">
              <ion-label>VOUCHER | <span class="status" *ngIf="item.voucherStatus">Active</span><span class="status-expired" *ngIf="!item.voucherStatus">Expired</span></ion-label>
              <span slot="end" class="code">{{item.voucherCode}}</span>
            </ion-item>

            <ion-item-options side="end" (click)="presentViewModal(item.voucherCode, item.voucherId)">
              <ion-item-option color="primary" expandable>
                View
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
        <div style="text-align: center;" *ngIf="voucherFlag">
          <h5>You have no vouchers</h5>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>
