.add-loyalty-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  mat-horizontal-stepper {
    width: 100%;
    height: 100%;
    h1 {
      color: #4DB6AC;
      font-weight: 500;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      margin-top: 5%;
      padding-bottom: 5%;
    }
    table {
      width: 40vw;
      height: 10vh;
    }
  }
}

mat-card {
  width: 90%;
}

.customer-container {
  display: flex;
  justify-content: space-evenly;
}

// Disable Header Navigation
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

// Loading Bar Styles
:host ::ng-deep .mat-progress-bar-fill::after {
  background: #4DB6AC !important;
}





