<ion-header>
  <ion-toolbar>
    <ion-title>Reset Forgotten Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="image-wrapper">
      <img src="../../../assets/images/update-password.svg" alt="update-password">
    </div>
    <div class="form-wrapper">
      <form [formGroup]="resetForgottenPasswordForm">
        <ion-item lines="none">
          <ion-label color="tertiary">New Password</ion-label>
          <ion-input type="password" formControlName="newPassword"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label color="tertiary">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>
        <ion-item class="error-message" lines="none" *ngIf="!resetForgottenPasswordForm.controls.confirmPassword.valid  && (resetForgottenPasswordForm.controls.confirmPassword.dirty || resetForgottenPasswordForm.controls.confirmPassword.touched)">
          <ion-icon name="alert-circle-outline" color="danger" size="small"></ion-icon><p> Passwords do not match.</p>
        </ion-item>
        <ion-button type="submit" [disabled]="!resetForgottenPasswordForm.valid" color="primary" (click)="doResetPassword()">Submit</ion-button>
      </form>
    </div>
  </div>
</ion-content>
