@import '~src/styles.scss';

.stable {
  display: none;
}

.empty {
  color: #CD1775;
}

.urgent {
  color: #4DB6AC;
}

.make-grey {
  background-color: rgb(128, 128, 128, 0.2);
}


span {
  margin-left: 0.5%;
  margin-right: 1%;
  font-weight: 600;
}

