<mat-drawer-container class="admin-container" [hasBackdrop]="true">

  <mat-drawer #drawer class="admin-sidenav" mode="push" opened="true">
    <div class="button-container">
      <!-- Return to genpoint home button -->
      <button mat-stroked-button [routerLink]="['/home']" class="genpoint-btn"><img
          src="../../../../assets/images/logo.png" alt="GenPoint Logo"><span>GenPoint</span></button>
      <div class="side-nav-spacer"></div>
      <!-- Return to home button -->
      <button mat-stroked-button class="home-btn" autofocus [routerLink]="['admin-dashboard']">
        <mat-icon>home</mat-icon>Home
      </button>

      <!-- admin Expansion Panel -->
      <button *ngIf="admin" mat-stroked-button class="admin-btn" (click)="togglePanel(0)">
        <mat-icon>admin_panel_settings</mat-icon>Admin
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="admin" #mep0="matExpansionPanel" class="mat-elevation-z0" [expanded]="mep0State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-user-role']">Maintain
                User Role</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['write-off']">Write Off
                Stock</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['audit-trail']">View Audit
                Trail</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['adjust-business-rules']">Adjust
                Business Rules</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Employee button -->
      <button *ngIf="employee" mat-stroked-button class="employee-btn" (click)="togglePanel(3)">
        <mat-icon>badge</mat-icon>Employee
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="employee" #mep3="matExpansionPanel" class="mat-elevation-z0" [expanded]="mep3State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['add-employee']">Add
                Employee</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-employee']">Maintain
                Employee</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Customer Order button -->
      <button *ngIf="customerorder" mat-stroked-button class="customer-order-btn" (click)="togglePanel(4)">
        <mat-icon>list_alt</mat-icon>Customer Order
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="customerorder" #mep4="matExpansionPanel" class="mat-elevation-z0"
          [expanded]="mep4State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['pack-customer-order']">Pack
                Customer Order</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Supplier button -->
      <button *ngIf="supplier" mat-stroked-button class="supplier-btn" (click)="togglePanel(5)">
        <mat-icon>villa</mat-icon>Supplier
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="supplier" #mep5="matExpansionPanel" class="mat-elevation-z0" [expanded]="mep5State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['add-supplier']">Add
                Supplier</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-supplier']">Maintain
                Supplier</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['maintain-supplier-type']">Maintain Supplier Type</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Supplier order button -->
      <button *ngIf="supplierorder" mat-stroked-button class="supplier-order-btn" (click)="togglePanel(1)">
        <mat-icon>inventory_2</mat-icon>Supplier Order
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="supplierorder" #mep1="matExpansionPanel" class="mat-elevation-z0"
          [expanded]="mep1State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['maintain-supplier-order']">Maintain
                Supplier Order</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>


      <!-- Product button -->
      <button *ngIf="product" mat-stroked-button class="product-btn" (click)="togglePanel(6)">
        <mat-icon>set_meal</mat-icon>Product
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="product" #mep6="matExpansionPanel" class="mat-elevation-z0" [expanded]="mep6State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['add-product']">Add
                Product</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-product']">Maintain
                Product</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Delivery button -->
      <button *ngIf="delivery" mat-stroked-button class="delivery-btn" (click)="togglePanel(7)">
        <mat-icon>local_shipping</mat-icon>Delivery
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="delivery" #mep7="matExpansionPanel" class="mat-elevation-z0" [expanded]="mep7State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['view-delivery']">View
                Delivery</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['generate-pending-deliveries']">Generate Pending Deliveries</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Manufacturing button -->
      <button *ngIf="manufacturing" mat-stroked-button class="manufacturing-btn" (click)="togglePanel(8)">
        <mat-icon>precision_manufacturing</mat-icon>Manufacturing
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="manufacturing" #mep8="matExpansionPanel" class="mat-elevation-z0"
          [expanded]="mep8State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['create-batch']">Create
                Batch</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['reconcile-cooking-list']">Reconcile Cooking List</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-batch']">Maintain
                Batch</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['view-cooking-list']">View
                Cooking List</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Training button -->
      <button *ngIf="training" mat-stroked-button class="training-btn" (click)="togglePanel(10)">
        <mat-icon>school</mat-icon>Training
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="training" #mep10="matExpansionPanel" class="mat-elevation-z0"
          [expanded]="mep10State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['create-training-module']">Create
                Training Module</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['maintain-training-module']">Maintain Training Module</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['maintain-training-module-type']">Maintain Training Module Type</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Branch button -->
      <button *ngIf="Branch" mat-stroked-button class="branch-btn" (click)="togglePanel(11)">
        <mat-icon>business</mat-icon>Branch
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="Branch" #mep11="matExpansionPanel" class="mat-elevation-z0" [expanded]="mep11State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['create-branch']">Create
                Branch</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-branch']">Maintain
                Branch</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text"
                [routerLink]="['maintain-branch-stock']">Maintain Branch Stock</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['request-branch-stock']">Request
                Branch Stock</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['do-branch-stock-take']">Do
                Branch Stock Take</span>
            </mat-list-item>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['receive-branch-stock']">Receive
                Branch Stock</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Loyalty button -->
      <button mat-stroked-button *ngIf="loyalty" class="loyalty-btn" (click)="togglePanel(12)">
        <mat-icon>emoji_events</mat-icon>Loyalty
      </button>
      <mat-accordion>
        <div class="expand-select"></div>
        <mat-expansion-panel *ngIf="loyalty" #mep12="matExpansionPanel" class="mat-elevation-z0"
          [expanded]="mep12State">
          <mat-list>
            <mat-list-item>
              <mat-icon>chevron_right</mat-icon><span class="item-text" [routerLink]="['maintain-loyalty']">Maintain
                Loyalty</span>
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
  </mat-drawer>

  <div class="admin-sidenav-content">

    <!-- Toolbar -->
    <mat-toolbar>
      <button mat-icon-button>
        <mat-icon (click)="drawer.toggle()">menu</mat-icon>
      </button>
      <span class="admin-spacer"></span>
      <mat-icon class="profile-icon">help</mat-icon>
      <button mat-button class="menu-button" (click)="goToHelp()">Help</button>
      <mat-icon class="profile-icon">home</mat-icon>
      <button mat-button class="menu-button">{{branch}}</button>
      <mat-icon class="profile-icon">account_circle</mat-icon>
      <button mat-button [matMenuTriggerFor]="account" class="menu-button">{{getUserName()}}<mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #account="matMenu">
        <button mat-menu-item routerlink="reset-password" (click)="redirect()">Reset Password</button>
        <button mat-menu-item (click)="openModal()">Logout</button>
      </mat-menu>
    </mat-toolbar>

    <div class="router-div">
      <router-outlet></router-outlet>
    </div>

  </div>

</mat-drawer-container>
