@import '~src/styles.scss';

.mat-column-SupplierOrderId {
    width: 12%;
  }

  .p-t {
    position: relative;
    top:0;
    font-size: 2em;
    font-weight: 500;
    margin-top: 2%;
  }

  .mat-column-ProductName {
    width: 18%;
  }

  ul {
    padding-left: 17px;
  }

  .type {
    padding-top: 12px;
  }

  form{
    margin-top: 5px;
    margin-left: 30px;
  }

  .button-row{
    text-align: right;
    padding-right: 40px;
  }

  #invoiceBtn{
    color:rgb(35, 175, 152);
  }

  #receiveBtn {
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 180px;
    background-color:rgb(31, 182, 157);
  }

  #cancelBtn {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 180px;
  }

  section.left
  {
    float: left;
    padding-right: 30px;
  }
  section.indent-2
  {
    float: left;
    padding-right: 30px;
  }

  #unordered
  {
    list-style-type: none;
  }

  .column {
    float: left;
    width: 33.33%;
  }

  // Defaults

mat-progress-bar {
  width: 75vw;
}

:host ::ng-deep .mat-progress-bar-fill::after {
  background: linear-gradient(to left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) !important;
}

// Disable Header Navigation
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
