.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  width: 70%;
}

.form-wrapper {
  width: 90%;
  margin-top: 1em;
}

ion-item {
  border: 1px solid #1b262c;
  border-radius: 10px;
  margin-bottom: 0.5em;
}

ion-button {
  float: right;
}

.error-message {
  font-size: 0.7em;
  color: #eb445a;
  p {
    margin-left: 0.5em;
  }
  border: none;
}
