<div class="modal-content">
    <div class="modal-header">
        <h3>Update Supplier Type</h3>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" class="login-content-wrapper">
            <mat-form-field appearance="legacy">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
                <mat-hint>Please enter the type name above</mat-hint>
            </mat-form-field>
            <br>
            <div mat-dialog-actions align="end">
              <button mat-raised-button [disabled]="!form.valid" (click)="openModal()">Update</button>
              <button mat-stroked-button style="margin-right: 10px" (click)="onCancel()" color="primary">Return</button>
            </div>
        </form>
    </div>
    <br><br>

</div>
