<div class="home-page-container">
  <app-notification></app-notification>
  <div class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngIf="admin" [routerLink]="['/admin-home/maintain-supplier']">Place Supplier Order </mat-chip>
      <mat-chip *ngIf="admin" [routerLink]="['/admin-home/add-product']">Add Product</mat-chip>
      <mat-chip *ngIf="admin" [routerLink]="['/admin-home/receive-branch-stock']">Receive Branch Stock </mat-chip>
      <mat-chip [routerLink]="['/admin-home/pack-customer-order']">Pack Customer Order </mat-chip>
      <mat-chip (click)="goToHelp()">Go to Help Document</mat-chip>
    </mat-chip-list>
  </div>
  <div class="selectors-container">
    <!--top of page-->
    <div class="selector">
      <button mat-flat-button routerLink="/point-of-sales-home" [disabled]="!admin">Point of Sale</button>
    </div>
    <div class="selector">
      <button mat-flat-button routerLink="/admin-home">Admin</button>
    </div>
    <div class="selector">
      <button mat-flat-button routerLink="/report-home" [disabled]="!admin">Reporting</button>
    </div>
    <div class="selector">
      <button mat-flat-button routerLink="/training-modules-home-page">Training</button>
    </div>
  </div>
</div>
