<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Account
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" [routerLink]="['/tabs/tab3']" routerDirection="forward" *ngIf="isLoggedIn">{{ customerName }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="spinner-container" *ngIf="!loadingFlag">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ng-container *ngIf="loadingFlag">
    <div class="container">
      <ion-list lines="full">
        <ion-item [routerLink]="['/update-customer']" routerDirection="forward">
          <ion-label>
            <h2>Account</h2>
            <p>View your account details</p>
          </ion-label>
        </ion-item>
        <ion-item [routerLink]="['/view-orders']" routerDirection="forward">
          <ion-label>
            <h2>Orders</h2>
            <p>View your order history</p>
          </ion-label>
        </ion-item>
        <!-- If Loyalty Member -->
        <ion-item [routerLink]="['/rewards-center']" routerDirection="forward" *ngIf="loyaltyFlag">
          <ion-label>
            <h2>Rewards</h2>
            <p>View your loyalty rewards</p>
          </ion-label>
        </ion-item>
        <!-- If NOT Loyalty Member -->
        <ion-item [routerLink]="['/rewards']" routerDirection="forward" *ngIf="!loyaltyFlag">
          <ion-label>
            <h2>Join Loyalty</h2>
            <p>View what our loyalty program has to offer</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="spacer"></div>
      <div class="footer-container">
        <ion-button expand="block" (click)="doLogout()">Logout</ion-button>
        <p>For help contact support@thefoodworks.co.za</p>
      </div>
    </div>
  </ng-container>
</ion-content>

