mat-form-field {
  flex: 1 0 5%;
  margin: 1.5%;
  flex-grow: 1;
  width: 30.3%;
}

.form-content-wrapper {
  background-color: white !important;
  box-shadow: none !important;
}

button {
  width: 10%;
}
