<app-notification></app-notification>
<div class="parent-container" style="height: 90%">
  <div class="admin-form-container">
    <div class="login-content-wrapper">
      <h2>Reset Your Password</h2>
      <mat-label style="margin: 5%; width: 100%">Please fill in the form below to reset your password</mat-label>
      <form [formGroup]="resetPasswordForm">
        <mat-form-field appearance="outline">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>Current Password</mat-label>
          <input matInput type="password" formControlName="currentPassword">
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>New password</mat-label>
          <input matInput type="password" formControlName="newPassword">
          <mat-hint style="color:red;" hidden>Incorrect Password</mat-hint>
        </mat-form-field><br>
        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Enter new password">
          <mat-hint style="color:red;" hidden>Passwords must match.</mat-hint>
        </mat-form-field>
      </form>
      <button mat-stroked-button color="primary" [disabled]="!resetPasswordForm.valid" (click)="ResetForgottenPassword()">Reset</button>
    </div>
  </div>
</div>
