<div class="center-container">
  <span class="page-title">Restore Database</span>
  <div class="admin-form-container">
    <div class="form-content-wrapper" style="padding-left: 35px; font-size:15px">
      <br />
      <div>
        <h3>Choose the DB Script you would like to restore:
        </h3>
        <mat-icon matTooltip="Please upload a file with the extension (.bak)" matTooltipPosition="left">help_outline
        </mat-icon>
        <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

        <div class="file-upload">

          {{fileName || "No file uploaded yet."}}

          <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
      </div>
      <br />
      <br />

      <div class="button-row" mat-dialog-actions align="start" style="margin-left:320px">
        <button style="font-size:15px; margin-right: 10px; background-color:#40E0D0;" mat-raised-button colour="primary"
          (click)="restore()">Restore</button>
        <button style="font-size:15px; margin-right: 30px" mat-raised-button>Cancel</button>
      </div>
    </div>
  </div>
</div>