.add-loyalty-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  mat-horizontal-stepper {
    width: 100%;
    height: 100%;
    h1 {
      color: #4DB6AC;
      font-weight: 500;
    }
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      margin-top: 5%;
      padding-bottom: 5%;
    }
    table {
      width: 40vw;
      height: 10vh;
    }
  }
}

mat-card {
  width: 90%;
}

.customer-container {
  display: flex;
  justify-content: space-evenly;
}

// Disable Header Navigation
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

// Loading Bar Styles
:host ::ng-deep .mat-progress-bar-fill::after {
  background: #4DB6AC !important;
}

// Third Step Card Container
.loyalty-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  mat-card {
    text-align: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 350px;
    overflow: auto;
    width: 100%;
    margin: 1%;
    background: #F6F6F6;
    .search-form-field {
      width: 100%;
      margin-bottom: 10%;
    }
    .loyalty-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .loyalty-icons {
      color: white;
      pointer-events: none;
      margin-bottom: 10%;
    }
    mat-accordion {
      width: 100%;
      // Inactive
      .voucher-panel {
        margin-top: 5%;
        box-shadow: rgba(67, 71, 85, 0.8) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      }
      // Active
      .voucher-panel-active {
        margin-top: 5%;
        box-shadow: rgba(72, 182, 172, 0.8) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
      }
      .voucher-text {
        color: #4DB6AC;
        text-align: left;
      }
      .voucher-text-heading {
        text-align: left;
      }
      .voucher-url {
        text-align: left;
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }
    .next-voucher-email {
      color: #4DB6AC;
      text-align: center;
      width: 90%;
      word-wrap: break-word;
    }

    .next-voucher-value {
      color: #4DB6AC;
      mat-icon {
        color: black;
        margin-left: 3%;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          opacity: 0.3;
        }
      }
    }
    hr {
      width: 40%;
      border-left: none;
      margin-bottom: 10%;
    }
    .voucher-spacer {
      margin-bottom: 2%;
    }
  }
}

.step3-header {
  text-align: center;
  color: #4DB6AC;
  font-weight: 500;
  padding-top: 1%;
  margin-bottom: 3%;
}

.step-three-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
