<div class="parent-container">
  <div class="heading-wrapper">
    <h1>Maintain Supplier</h1>
  </div>
  <div class="controls-wrapper">
    <mat-form-field>
      <mat-label>Enter Supplier's Name</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip"
      matTooltip="Click on table headings to sort data" matTooltipPosition="left">help_outline</mat-icon>
  </div>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" multiTemplateDataRows>

      <!-- Supplier Name Column -->
      <ng-container matColumnDef="SupplierName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Supplier Name</th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.SupplierName}} </td>
      </ng-container>

      <!-- Supplier Status Column -->
      <ng-container matColumnDef="SupplierStatusName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.SupplierStatusName}} </td>
      </ng-container>

       <!-- Type Column -->
      <ng-container matColumnDef="SupplierTypeName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.SupplierTypeName}} </td>
      </ng-container>

      <!-- VAT Column -->
      <ng-container matColumnDef="SupplierVatNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VAT Number </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.SupplierVatNumber}} </td>
      </ng-container>

      <!-- Contact No For Column -->
      <ng-container matColumnDef="SupplierContactNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Number </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.SupplierContactNumber}} </td>
      </ng-container>

      <!-- Emaill Column -->
      <ng-container matColumnDef="SupplierEmailAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Address</th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.SupplierEmailAddress}} </td>
      </ng-container>

      <!-- Order Day Column -->
      <ng-container matColumnDef="orderDay">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Day</th>
        <td mat-cell *matCellDef="let supplier">
          <span class="highlight">Click to view days</span>
        </td>
      </ng-container>

      <!-- Order Method Column -->
      <ng-container matColumnDef="OrderMethodName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Method </th>
        <td mat-cell *matCellDef="let supplier"> {{supplier.OrderMethodName}} </td>
      </ng-container>

      <!-- Place Order Button Column -->
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef> Place Order </th>
        <td mat-cell style="padding-left:15px" *matCellDef="let supplier">
          <mat-icon class="update-table-button" *ngIf="supplier.SupplierStatusId===1; else nothing" (click)="placeSupplierOrder(supplier.SupplierVatNumber, supplier.SupplierName)">inventory
          </mat-icon>
        </td>
      </ng-container>
      <ng-template #nothing><mat-icon class="update-table-button" (click)="notAllowed()">error_outline</mat-icon></ng-template>

      <!-- Update Button Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update  </th>
        <td mat-cell style="padding-left:15px" *matCellDef="let supplier">
          <mat-icon class="update-table-button" (click)="updateSupplier(supplier.SupplierId)">edit
          </mat-icon>
        </td>
      </ng-container>

      <!-- Delete Button Column (click)="deleteSupplier(supplier.SupplierId)"-->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete  </th>
        <td mat-cell style="padding-left:15px" *matCellDef="let supplier">
          <mat-icon class="update-table-button" (click)="openModal(supplier)">delete
          </mat-icon>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let supplier" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="supplier == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-diagram">
                <mat-list role="list">
                  <div mat-subheader>Order Days</div>
                  <mat-list-item *ngFor="let child of supplier.orderDays" role="listitem">
                    <mat-icon mat-list-icon color="primary">arrow_right</mat-icon>
                    {{child.SupplierOrderDayDescription}}
                  </mat-list-item>
                </mat-list>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}" was found</td>
      </tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10]" showFirstLastButtons
      class="mat-elevation-z8"></mat-paginator>
    <mat-progress-bar [mode]="loadingMode" value="100"></mat-progress-bar>
  </div>
</div>

