<div class="parent-container">
  <div class="heading-wrapper">
    <h1>Loyalty Customers</h1>
  </div>
  <div class="controls-wrapper">
    <mat-form-field>
      <mat-label>Search Loyalty</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search Entire Table" #input>
    </mat-form-field>
    <button mat-stroked-button color="primary" class="control" (click)="openSettingsDialog()">Adjust Loyalty Settings</button>
    <button mat-stroked-button color="primary" class="control" (click)="generateVouchers()">Generate Vouchers</button>
    <button mat-stroked-button color="primary" class="control" (click)="openVideoDialog()">View Loyalty Video</button>
    <span class="spacer"></span>
    <mat-icon class="table-helper" matTooltipClass="table-helper-tooltip"
      matTooltip="Click on table headings to sort data" matTooltipPosition="left">help_outline</mat-icon>
  </div>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- ID Column -->
      <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let item">{{item.customerId}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let item"> {{item.customerName}} </td>
      </ng-container>

      <!-- Surname Column (True) -->
      <ng-container matColumnDef="customerSurname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Surname </th>
        <td mat-cell *matCellDef="let item"> {{item.customerSurname}} </td>
      </ng-container>

      <!-- Telephone Column (True) -->
      <ng-container matColumnDef="customerTelephone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telephone </th>
        <td mat-cell *matCellDef="let item"> {{item.customerTelephone}} </td>
      </ng-container>

      <!-- Email Column (True) -->
      <ng-container matColumnDef="customerEmail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let item"> {{item.customerEmail}} </td>
      </ng-container>

      <!-- Date Joined Column -->
      <ng-container matColumnDef="dateJoined">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Joined </th>
        <td mat-cell *matCellDef="let item"> {{item.dateJoined | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <!-- Date of Birth Column -->
      <ng-container matColumnDef="customerDob">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Birth </th>
        <td mat-cell *matCellDef="let item"> {{item.customerDob | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10]" showFirstLastButtons
      class="mat-elevation-z8"></mat-paginator>
    <mat-progress-bar [mode]="loadingMode" value="100"></mat-progress-bar>
  </div>
</div>
