<div class="add-loyalty-dialog-container">
  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <form [formGroup]="searchForm" class="form-2">
        <ng-template matStepLabel>Retrieve Voucher</ng-template>
        <h1 class="title">Enter Vouchers Code or Scan Vouchers QR Code</h1>
        <mat-form-field class="code-input">
          <mat-label>Voucher Code</mat-label>
          <input matInput #message maxlength="7" (keyup)="getSearchedVoucher($event, stepper)"
            formControlName="searchInput">
          <mat-hint align="end">{{message.value.length}} / 7</mat-hint>
        </mat-form-field>
      </form>
      <mat-progress-bar class="progress-bar" [mode]="loadingMode" value="100"></mat-progress-bar>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Apply Voucher</ng-template>
      <form [formGroup]="searchForm" class="form-1">
        <div class="loyalty-container">
          <h1 class="title">Voucher: <strong>{{code}}</strong></h1>
          <div mat-subheader>Redeemable by {{customerFullName}}</div>
          <hr>
          <h3 style="margin-top: 2%;">Amount Available on Voucher</h3>
          <h1><span>{{ voucherAmount | currency:'R ' }}</span></h1>
          <h3>Grand Total (VAT incl.) of Sale</h3>
          <h1><span>{{ paymentDetails.amount | currency:'R ' }}</span></h1>
          <h3>Grand Total Payable After Voucher</h3>
          <h1><span>{{ afterVoucherAmount | currency:'R ' }}</span></h1>
          <h3>Voucher Balance After Use</h3>
          <h1><span>{{ remainingVoucherAmount | currency:'R ' }}</span></h1>
          <hr>
          <div mat-subheader>Note: The above voucher expires on {{voucherExpirationDate}}. {{days}} Days Remaining.</div>
          <button *ngIf="!canPay" mat-stroked-button color="primary" style="width: 35%; margin-top: 3%" (click)="onConfirm()">Apply Voucher</button>
          <button *ngIf="canPay" mat-stroked-button color="primary" style="width: 35%; margin-top: 3%" (click)="onConfirm()">Complete Sale</button>
          <button mat-stroked-button color="secondary" matStepperPrevious (click)="clearForm()" style="width: fit-content; align-self: center; width: 35%; margin-top: 5%; margin-bottom: 5%">Use Different Voucher</button>
        </div>
      </form>
      <mat-progress-bar class="progress-bar" [mode]="loadingMode" value="100"></mat-progress-bar>
    </mat-step>
  </mat-horizontal-stepper>
</div>
