.add-loyalty-dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  mat-horizontal-stepper {
    width: 100%;
    height: 100%;
    overflow: auto;
    h1 {
      color: #4DB6AC;
      font-weight: 500;
    }
    .form-1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: 5%;
      padding-bottom: 5%;
    }
    .form-2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30vh;
      margin-top: 5%;
      padding-bottom: 5%;
    }
    .code-input {
      margin: 3%;
      width: 20vw;
    }
  }
}

.title {
  margin-top: 5%;
}

hr {
  width: 70%;
  border-left: none;
}

.loyalty-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: fit-content;
  background-color: #F6F6F6;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.step-two-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// Disable Header Navigation
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

// Loading Bar Styles
:host ::ng-deep .mat-progress-bar-fill::after {
  background: #4DB6AC !important;
}
