input {
  background: none;
  border: none;
  width: 90%;
  margin: 1em;
}

input:focus {
  background: white;
  border: none;
}

.error-message {
  font-size: 0.7em;
  color: #eb445a;
  p {
    margin-left: 0.5em;
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  padding: 1em;
  ion-button {
    width: 60%;
  }
}

