<div class="parent-container">
  <div class="admin-form-container">
    <div class="form-heading-wrapper">
      <mat-card class="title-card">
        <h1>Update Business Rules</h1>
      </mat-card>
    </div>
    <div class="form-content-wrapper">
      <img src="../../../../assets/images/undraw_Control_panel_re_y3ar.svg">
      <form [formGroup]="vatForm">
        <h2>Adjust VAT Percentage</h2>
        <mat-form-field>
          <mat-label>VAT Percentage</mat-label>
          <input maxLength="10" formControlName="vat" #VatInput matInput />
          <mat-hint>Please enter the current VAT percentage</mat-hint>
          <mat-error>Please enter a number</mat-error>
        </mat-form-field>

        <button mat-stroked-button id="btnConfirm" color="primary" type="submit" (click)="openDialog()"
          [disabled]="!vatForm.valid">Update VAT</button>
      </form>
      <form [formGroup]="timerForm">
        <h2>Adjust Payment Timer</h2>
        <mat-form-field>
          <mat-label>Payment Timer</mat-label>
          <input matInput
            type="number"
            min="15"
            max="120"
            formControlName="paymentTimer"
            onKeyDown="return false"
            [(ngModel)]="currentTime"
            autocomplete="off"/>
          <mat-hint>Timer is formatted in seconds.</mat-hint>
          <mat-error>Please enter a valid time value</mat-error>
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit" (click)="updateTimer()"
          [disabled]="!timerForm.valid" id="btnConfirm">Update Timer</button>
      </form>

    </div>
    <mat-progress-bar value="100"></mat-progress-bar>
  </div>
</div>
