@import '~src/styles.scss';

mat-form-field {
  flex: 1 0 45%;
  flex-grow: 1;
  width: 30.2%;
  margin: 1.5%;
}

h3 {
  margin: 1.5%;
  margin-top: 3%;
}

.second-form-wrapper {
  height: 60vh;
}

.len{
  width: 230px;
}

#checkbox {
  margin-top:15px
}
.mat-checkbox{
  padding:5px;
}

.mat-checkbox{
  padding:5px;
}

.checkbox-items {
  margin: 1%;
  display: flex;
  justify-content: space-between;
  width: 90%;
}



