<div class="confirm-modal-container">
  <h1 mat-dialog-title>Pending Payment</h1>
  <mat-dialog-content>
    <p>Please request the following total amount from the customer:</p><br>
    <p><span class="emphasis">{{ data.amount | currency:'R ' }}</span></p><br>
    <form [formGroup]="paymentForm">
      <div class="payment-form-wrapper">
        <div class="form-field-wrapper">
          <mat-label>Card Amount:</mat-label>
          <mat-form-field appearance="fill">
            <span matPrefix>ZAR &nbsp;</span>
            <input
              matInput
              type="number"
              formControlName="cardInput"
              (keyup)="calculateCash()"
              (blur)="fixCardAmount()"
              [min] = "0"
              [max]="data.amount"
              [readonly]="checked"
              autocomplete="off"
              [(ngModel)]="cardAmount">
          </mat-form-field>
        </div>
        <div class="form-field-wrapper">
          <mat-label>Cash Amount:</mat-label>
          <mat-form-field appearance="fill">
            <span matPrefix>ZAR &nbsp;</span>
            <input
              matInput
              formControlName="cashInput"
              [(ngModel)]="cashAmount"
              readonly>
          </mat-form-field>
        </div>
      </div>
    </form>
    <hr><br>
    <p class="warning-message">
       Only complete the sale once the customer has made the payment.
    </p><br>
    <mat-checkbox [(ngModel)]="checked" [disabled]="btnEnabled">Has the customer paid?</mat-checkbox>
  </mat-dialog-content>
  <div mat-dialog-actions class="button-wrapper">
    <button mat-stroked-button (click)="dialogRef.close(false)">Cancel Payment</button>
    <button mat-stroked-button color="primary" (click)="completePayment()" [disabled]="btnEnabled || !paymentForm.valid || !checked">{{ btnTitle }}</button>
  </div>
</div>
