<div class="container">
  <h2>Adjust Loyalty Discount Percentage</h2>
  <div mat-subheader style="font-size: 0.9em; width: 40%; text-align: center;">This is the percentage whereby sales are multiplied to determine an appropriate loyalty point award</div>
  <div mat-subheader *ngIf="!flag"style="font-size: 0.9em; width: 40%; text-align: center;">E.g. A loyalty discount percentage of {{livePercentage}}% would yield R {{livePercentage}}.00 of loyalty points on a transaction worth R 100.00 (VAT incl.)</div>
  <div mat-subheader *ngIf="flag"style="font-size: 0.9em; width: 40%; text-align: center;">E.g. A loyalty discount percentage of 0% would yield R 0.00 of loyalty points on a transaction worth R 100.00 (VAT incl.)</div>
  <form [formGroup]="percentageForm">
    <mat-form-field appearance="outline">
      <mat-label>Loyalty Discount Percentage</mat-label>
      <input matInput type="number" onkeydown="return false" min="1" max="100" formControlName="percentage" [(ngModel)]="livePercentage" (keyup)="adjustFlag($event)">
      <mat-icon matSuffix>percent</mat-icon>
      <mat-hint>Adjust the loyalty discount percentage</mat-hint>
    </mat-form-field>
  </form>
  <hr>
  <button mat-stroked-button color="primary" [mat-dialog-close] (click)="applySettings()" [disabled]="!percentageForm.dirty">Save Changes</button>
  <button mat-stroked-button color="secondary" [mat-dialog-close]>Close</button>
</div>
