.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  button {
    width: 30%;
    margin-top: 3%;
  }
  hr {
    margin: 3%;
    margin-top: 5%;
    border-left: none;
    width: 40%;
  }
}
