<div class="modal-content">
  <div class="modal-header">
    <h3>Add User Role</h3>
  </div>
  <div class="modal-body">
    <form [formGroup]="addUserRoleForm">
      <div class="row justify-content-center">
        <div class="col-md-8 keyword">
          <mat-form-field appearance="legacy">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <br>
          <mat-form-field appearance="legacy">
            <mat-label>Access Areas</mat-label>
            <mat-select multiple [(value)]="selectedContents">
              <mat-option *ngFor="let content of contentList" [value]="content">
                {{content}}
              </mat-option>
            </mat-select>
            <!-- <mat-hint>Please select the subsystems for this role to access</mat-hint> -->
            <ul *ngFor="let item of selectedContents">
              <li>{{item}}</li>
            </ul>
          </mat-form-field>
          <br>
          <button mat-raised-button (click)="openModal()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>