<ion-header>
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="image-wrapper">
      <img src="../../../assets/images/void-password.svg" alt="forgot-password">
    </div>
    <div class="form-wrapper">
      <form [formGroup]="forgotPasswordForm">
        <ion-item lines="none">
          <ion-label color="tertiary">Email Address</ion-label>
          <ion-input type="text" formControlName="Email"></ion-input>
        </ion-item>
        <ion-button type="submit" [disabled]="!forgotPasswordForm.valid" color="primary" (click)="doForgotPassword()">Submit</ion-button>
      </form>
    </div>
  </div>
</ion-content>
