<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="registerForm">
    <form [formGroup]="registerForm">
      <ion-item lines="full">
        <ion-label position="stacked">Name</ion-label>
        <ion-input formControlName="CustomerName"></ion-input>
      </ion-item>
      <ion-item class="error-message" lines="none" *ngIf="!registerForm.controls.CustomerName.valid  && (registerForm.controls.CustomerName.dirty || registerForm.controls.CustomerName.touched)">
        <ion-icon name="alert-circle-outline" color="danger" size="small"></ion-icon><p> Please enter a valid name.</p>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Surname</ion-label>
        <ion-input formControlName="CustomerSurname"></ion-input>
      </ion-item>
      <ion-item class="error-message" lines="none" *ngIf="!registerForm.controls.CustomerSurname.valid  && (registerForm.controls.CustomerSurname.dirty || registerForm.controls.CustomerSurname.touched)">
        <ion-icon name="alert-circle-outline" color="danger" size="small"></ion-icon><p> Please enter a valid surname.</p>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Date of Birth</ion-label>
        <ion-datetime value="1999-02-19" placeholder="Select Date" formControlName="CustomerDob"></ion-datetime>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Telephone Number</ion-label>
        <ion-input formControlName="CustomerTelephone" maxlength="10"></ion-input>
      </ion-item>
      <ion-item class="error-message" lines="none" *ngIf="!registerForm.controls.CustomerTelephone.valid  && (registerForm.controls.CustomerTelephone.dirty || registerForm.controls.CustomerTelephone.touched)">
        <ion-icon name="alert-circle-outline" color="danger" size="small"></ion-icon><p> Please enter a valid telephone number.</p>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Address</ion-label>
        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)" />
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Street Number</ion-label>
        <ion-input formControlName="StreetNumber"></ion-input>
      </ion-item>
      <ion-item lines="full" disabled>
        <ion-label position="stacked">Street Name</ion-label>
        <ion-input formControlName="StreetName"></ion-input>
      </ion-item>
      <ion-item lines="full" disabled>
        <ion-label position="stacked">City/Town</ion-label>
        <ion-input formControlName="City"></ion-input>
      </ion-item>
      <ion-item lines="full" disabled>
        <ion-label position="stacked">Province</ion-label>
        <ion-input formControlName="Province"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Postal Code</ion-label>
        <ion-input formControlName="PostalCode"></ion-input>
      </ion-item>
      <ion-item lines="full" hidden>
        <ion-label position="stacked">Latitude</ion-label>
        <ion-input formControlName="Lat"></ion-input>
      </ion-item>
      <ion-item lines="full" hidden>
        <ion-label position="stacked">Longitude</ion-label>
        <ion-input formControlName="Lng"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Email</ion-label>
        <ion-input formControlName="CustomerEmail"></ion-input>
      </ion-item>
      <ion-item class="error-message" lines="none" *ngIf="!registerForm.controls.CustomerEmail.valid  && (registerForm.controls.CustomerEmail.dirty || registerForm.controls.CustomerEmail.touched)">
        <ion-icon name="alert-circle-outline" color="danger" size="small"></ion-icon><p> Please enter a valid email.</p>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="Password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input type="password" formControlName="ConfirmPassword"></ion-input>
      </ion-item>
      <ion-item class="error-message" lines="none" *ngIf="!registerForm.controls.ConfirmPassword.valid  && (registerForm.controls.ConfirmPassword.dirty || registerForm.controls.ConfirmPassword.touched)">
        <ion-icon name="alert-circle-outline" color="danger" size="small"></ion-icon><p> Passwords do not match.</p>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="stacked">Join Loyalty Program</ion-label>
        <ion-checkbox color="primary" formControlName="IsLoyaltyProgram"></ion-checkbox>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="button-wrapper">
      <ion-button color="success" (click)="presentConfirm()" expand="block" [disabled]="!registerForm.valid">Create Account</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
