<ion-header>
  <ion-toolbar>
    <ion-title>View Voucher</ion-title>
    <ion-buttons (click)="dismissModal(true)" slot="end">
      <ion-fab-button color="danger" size="small">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="view-voucher-content" *ngFor="let item of filteredVoucher">
    <h5>Voucher <span>{{item.voucherCode}}</span></h5>
    <!-- Dates Section -->
    <h5>Dates</h5>
    <h4>Generation Date</h4>
    <h3>{{item.voucherGenerationDate | date: 'longDate'}}</h3>
    <ion-item-divider></ion-item-divider>
    <h4>Expiration Date</h4>
    <h3>{{item.voucherExpiryDate | date: 'longDate'}}</h3>
    <ion-item-divider></ion-item-divider>
    <h4 *ngIf="item.lastRedemptionDate">Last Redemption Date</h4>
    <h3 *ngIf="item.lastRedemptionDate">{{item.lastRedemptionDate | date: 'longDate'}}</h3>
    <ion-item-divider *ngIf="item.lastRedemptionDate"></ion-item-divider>
    <!-- Values Section -->
    <h5>Values (ZAR)</h5>
    <h4>Voucher Current Balance</h4>
    <h3>{{ item.voucherCurrentAmount | currency:'R ' }}</h3>
    <ion-item-divider></ion-item-divider>
    <h4>Voucher Total Amount</h4>
    <h3 *ngIf="item.voucherStatus">{{ item.voucherTotalAmount | currency:'R ' }}</h3>
    <h3 *ngIf="!item.voucherStatus">R 0.00</h3>
    <ion-item-divider></ion-item-divider>
    <h4>Amount Redeemed</h4>
    <h3>{{ item.voucherRedeemedAmount | currency:'R ' }}</h3>
    <ion-item-divider></ion-item-divider>
    <h4 *ngIf="!item.voucherStatus">Amount Carried Forward</h4>
    <h3 *ngIf="!item.voucherStatus">{{ item.voucherCarriedAmount | currency:'R ' }}</h3>
    <ion-item-divider *ngIf="!item.voucherStatus"></ion-item-divider>
    <!-- General Section -->
    <h5>General</h5>
    <h4>Voucher Status</h4>
    <h3 *ngIf="item.voucherStatus">Active</h3>
    <h3 *ngIf="!item.voucherStatus">Expired</h3>
    <ion-item-divider></ion-item-divider>
    <h4 *ngIf="item.lastRedemptionDate">Times Redeemed</h4>
    <h3 *ngIf="item.lastRedemptionDate">{{ item.timesRedeemed }}</h3>
    <ion-item-divider></ion-item-divider>
    <!-- Links Section -->
    <h5 class="redemptions" *ngIf="item.lastRedemptionDate">All Redemptions</h5>
    <div class="redemptions-container">
      <ion-item lines="full" *ngFor="let item of redemptions">
        <ion-label>{{item.redeemedInstanceDate | date: 'MMMM-dd-YYYY'}}</ion-label>
        <span slot="end" class="code">{{item.redeemedInstanceAmount | currency:'R ' }}</span>
      </ion-item>
    </div>
    <div class="spacer">Hello</div>
  </div>

</ion-content>
