<div class="header-container">
  <h3>Pack Order <span class="highlight">{{saleID}}</span></h3>
  <mat-form-field>
    <mat-label>Barcode:</mat-label>
    <input matInput #barcode type="text" name="barcodeInput" [(ngModel)]="barcodeInput" (blur)="onBlur()" (keydown.enter)="captureBarcode(barcode.value)" autofocus>
  </mat-form-field>
</div>

<mat-selection-list #products>
  <mat-list-option *ngFor="let item of data; let i=index" [selected]="item.packed" disabled>
    <div class="list-item-container">
      <div class="product-name-wrapper">
        {{item.productName}}
      </div>
      <div>
        x {{item.quantity}}
      </div>
    </div>
  </mat-list-option>
</mat-selection-list>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
