.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  ion-list {
    width: 100%;
  }
}

.disclaimer-text {
  text-align: center;
  width: 90%;
}

.no-voucher-text {
  text-align: center;
  width: 100%;
}
