<ion-header>
  <ion-toolbar>
    <ion-title>Select Voucher</ion-title>
    <ion-buttons (click)="dismissModal()" slot="end">
      <ion-fab-button color="danger" size="small">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="disclaimer-text">Note: Vouchers will only cover up until R20.00 of the sale price of an online order. The remaining R20.00 will need to be paid using the online payment gateway.</p>
    <ion-list>
      <h2 class="no-voucher-text" *ngIf="voucherFlag">No Available Vouchers</h2>
      <ion-item-divider></ion-item-divider>
      <ng-container *ngIf="!voucherFlag">
        <ion-item-sliding *ngFor="let item of vouchers">
          <ion-item lines="full">
            <ion-icon name="pricetag-outline" style="margin-right: 5%; color: #71C9CE"></ion-icon>
            <ion-label>
              <h2><b>{{item.voucherCode}}</b></h2>
              <p>{{item.voucherAmount | currency: 'R '}}</p>
            </ion-label>
            <p style="font-size: 0.8em">Expires: {{item.voucherExpiryDate | date: 'longDate'}}</p>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="primary" (click)="dismissInfoModal(item.voucherId, item.voucherAmount, item.voucherCode)">Select</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>
    </ion-list>
  </div>
</ion-content>
