@import '~src/styles.scss';

// Home page styles
.home-page-container {
  height: 100vh;
}

// Toolbar
mat-toolbar {
  .application-name-text {
    color: $text-color;
    font-size: 1.7em;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transition: 0.5s;
      opacity: 0.6;
    }
  }

  .home-toolbar-spacer {
    flex: 1 1 auto;
  }

  .profile-icon {
    color: $text-color;
  }

  img {
    width: 2.3%;
  }

  button {
    color: $text-color;
  }
}

//Training Modules Page
.training-modules-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  .training-modules-content {
    background-color: #f3f9fb;
    margin-top: 2%;
    width: 90vw;
    height: 85vh;
    box-shadow: $shadow;
    overflow-x: hidden;
  }
}

.drawer-options {
  text-align: left;
  width: 100%;
  margin-top: 10%;
  border-radius: 0%;

  &:hover {
    transition: 0.5s;
    background-color: rgba(77, 182, 172, .4);
    color: white;
  }
}

mat-expansion-panel {
  &:hover {
    mat-panel-title {
      transition: 0.5s;
      color: #4DB6AC;
    }
  }
}

mat-drawer-content {
  overflow: hidden;
  display: flex;
  flex-grow: 1;

  .training-module-footer {
    display: flex;
    flex-grow: 1;
    justify-content: left;
    align-items: center;
    background-color: #4DB6AC;
    width: 90vw;
    height: 7%;
    position: absolute;
    bottom: 0;
  }

  .training-module-content-page {
    display: flex;
    width: 100%;
  }
}

.products-container {
  flex: 2 1 auto;
}

mat-grid-list {
  margin: 5em;
}

::ng-deep .mat-tab-label{
  height: 60px !important;
  min-height: 0px!important;
  margin: 3px!important;
  }

.sale-overview-container {
  flex: 1 1 10%;
  height: 93%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;

  h2 {
    margin: 5%;
    margin-left: 9%;
    color:#4DB6AC
  }
}

.overview-list {
  flex-grow: 1;
  overflow: auto;
  padding: 0 1.5em;
}

.totals {
  padding: 1.5em;
  border-top: 2px dashed grey;
  text-align: end;
}

mat-form-field {
  position: absolute;
  right: 32.5%;
  top: 10px;
  z-index: 100;
}

::ng-deep .mat-form-field {
  font-size: 12px;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .65em 0;
}


.mat-input-element {
  position: relative;
  top:  -0.2em;
}

.training-module-menu-button {
  cursor: pointer;
  color: white;
  font-size: 2em;
  &:hover {
    transition: 0.5s;
    opacity: 0.6;
  }
  margin-left: 1%;
  margin-bottom: 0.3%;
}

.training-module-home-button {
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 2em;
  &:hover {
    transition: 0.5s;
    opacity: 0.6;
  }
  right: 1%;
  margin-bottom: 0.3%;
}

.training-module-home-button-side {
  position: absolute;
  cursor: pointer;
  color: #4DB6AC;
  font-size: 2em;
  &:hover {
    transition: 0.5s;
    opacity: 0.6;
  }
  left: 9%;
  bottom: 2%;
}

.completed-module-title {
  opacity: 0.3;
}

.incompleted-module-text {
  display: none;
}

.completed-module-text {
  color:rgba(77, 182, 172);
}

mat-drawer {
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;

  button {
    width: 90%;
    height: 13%;
    color: whitesmoke;
    margin-bottom: 15px;
  }

  h2 {
    margin: 5%;
    margin-left: 9%;
    color:#4DB6AC
  }
}

.mat-drawer-inner-container {
  width: 500px;
}

mat-grid-tile {
  background: lightblue;
}

mat-grid-tile:hover {
  opacity: 0.5;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-evenly;

  button {
    font-size: 0.8em;
    color: whitesmoke;
    width: 45%;
    height: 4em;
    margin-bottom: 1.5em;
  }
}

.totals-list {
  float: right;

  span {
    margin-left: 1em;
    color: #4DB6AC;
    font-weight: 600;
  }
}

.spacer {
  flex: 1;
}

.vouchers-list {
  float: left;
  height: 90%;
  button {
    height: 30px;
    width: 30px;
    mat-icon {
      font-size: medium;
      margin-top: -25%;
    }
  }
}

.voucher-span {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

mat-progress-bar {
  width: 90%;
}

.mat-progress-bar-fill::after {
  background: linear-gradient(to left, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%) !important;
}

.item-control {
  display: flex;
  p {
    font-size: 0.8em;
    margin-right: 1em;
    margin-top: 1em;
    opacity: 0.5;
    font-weight: 500;
  }
}

.customer-selection-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  button {
    margin-left: auto;
    margin-right: 10%;
  }
}




