
<div class="parent-container">
  <div class="admin-form-container">
    <div class="form-heading-wrapper">
      <mat-card class="title-card">
        <h1>Update Training Module</h1>
      </mat-card>
    </div>
    <div class="form-content-wrapper">
      <mat-horizontal-stepper linear #stepper class="create-training-module-stepper">
        <mat-step [stepControl]="createForm" [editable]="isEditable">
          <form [formGroup]="createForm" *ngIf="createForm">
            <ng-template matStepLabel>Update Training Module Configuration</ng-template>
            <div class="new-branch-form-container">
              <mat-form-field hintLabel="Enter the New Module's Name">
                <mat-label>Module Name</mat-label>
                <input matInput #nameInput maxLength="20" formControlName="moduleName">
                <mat-hint align="end">{{nameInput.value?.length || 0}}/20</mat-hint>
                <mat-error>Please enter a module name</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Module Type</mat-label>
                <mat-select matNativeControl formControlName="moduleType">
                  <mat-option *ngFor="let type of moduleTypes" [value]="type.ID">
                    {{type.Description}}
                  </mat-option>
                </mat-select>
                <mat-hint>Select a Module Type</mat-hint>
                <mat-error>Please select a module type</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Module Language</mat-label>
                <mat-select matNativeControl formControlName="moduleLanguage">
                  <mat-option value="English">English</mat-option>
                  <mat-option value="Afrikaans">Afrikaans</mat-option>
                  <mat-option value="Zulu">Zulu</mat-option>
                  <mat-option value="Xhosa">Xhosa</mat-option>
                </mat-select>
                <mat-hint>Select a Module Language</mat-hint>
                <mat-error>Please select a module language</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Module Duration</mat-label>
                <mat-select matNativeControl formControlName="moduleDuration">
                  <mat-option value="5">5</mat-option>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="15">15</mat-option>
                  <mat-option value="20">20</mat-option>
                  <mat-option value="25">25</mat-option>
                  <mat-option value="30">30</mat-option>
                  <mat-option value="35">35</mat-option>
                  <mat-option value="40">40</mat-option>
                  <mat-option value="45">45</mat-option>
                  <mat-option value="50">50</mat-option>
                  <mat-option value="55">55</mat-option>
                  <mat-option value="60">60</mat-option>
                </mat-select>
                <mat-hint>Select an Estimated Module Duration (Minutes)</mat-hint>
                <mat-error>Please select an estimated module duration</mat-error>
              </mat-form-field>
              <br>
              <mat-form-field [style.fontSize]="" hintLabel="Enter a Module Description">
                <mat-label>Module Description</mat-label>
                <textarea matInput #descriptionInput cdkTextareaAutosize maxLength="250" #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" formControlName="moduleDescription"></textarea>
                <mat-hint align="end">{{descriptionInput.value?.length || 0}}/250</mat-hint>
                <mat-error>Please enter a module description</mat-error>
              </mat-form-field>
              <br>
            </div>
            <section class="content-section" formGroupName="checkboxGroup">
              <mat-label>Select the Content Type to be Included:</mat-label>
              <mat-checkbox class="content-margin" formControlName="videoCheck" id="videoCheck" [(ngModel)]="videoFlag">Video</mat-checkbox>
              <mat-checkbox class="content-margin" formControlName="textCheck" id="textCheck" [(ngModel)]="textFlag">Text</mat-checkbox>
              <mat-checkbox class="content-margin" formControlName="imageCheck" id="imageCheck" [(ngModel)]="ImageFlag">Image</mat-checkbox>
              <div style="color: #4DB6AC; margin-left: 2%; margin-top: 0.15%;"
                *ngIf="createForm.controls['checkboxGroup'].errors && createForm.controls['checkboxGroup'].errors.requireCheckboxesToBeChecked">
                Please select at least one content type!</div>
            </section>
            <button mat-stroked-button matStepperNext color="primary" routerLink="/admin-home/maintain-training-module">Return</button>
            <button mat-stroked-button matStepperNext color="primary" [disabled]="!createForm.valid" (click)="setDisplay()">Next</button>
            <button mat-stroked-button color="warn" [disabled]="!(createForm.dirty)" (click)="resetFirstDefault()">Discard Changes</button>
          </form>
        </mat-step>

        <!-- Content Form Step -->
        <mat-step [stepControl]="createContentForm" [editable]="isEditable">
          <form [formGroup]="createContentForm" *ngIf="createContentForm">
            <ng-template matStepLabel>Update Training Module Content</ng-template>
            <div class="new-branch-form-container-2">
              <div class="example-container">

                <!-- Content Order -->
                <div>
                  <h2>Content Order</h2>
                  <p class="order-instruction-label">Please select the order in which you would like the content to be
                    displayed:</p>
                  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of content" cdkDrag>{{item}}</div>
                  </div>
                </div>


                <!-- Video Content-->
                <div *ngIf="videoFlag">
                  <hr>
                  <h2>Add Video Content URL</h2>
                  <p class="order-instruction-label">Please enter the Youtube URL of the video:</p>
                  <mat-form-field>
                    <mat-label>Video URL</mat-label>
                    <input matInput formControlName="videoLink">
                    <mat-hint>Enter the Youtube URL of the Video</mat-hint>
                    <mat-error>Please enter a URL</mat-error>
                  </mat-form-field>
                </div>

                <!-- Text Content -->
                <div>
                  <div *ngIf="textFlag">
                    <hr>
                    <h2>Add Text Content</h2>
                    <p class="order-instruction-label">Add the text content to be used in the module:</p>
                    <editor *ngIf="loadedFlag" formControlName="textContent" apiKey="opzrwvq9h9ygsak1k28bqeysq6x17taa2u46xxeilmm5ngac"
                      [init]="{
                        icons: 'material',
                        skin: 'borderless',
                        plugins: 'autolink lists media table',
                        menubar: true,
                        toolbar_mode: 'floating',
                        min_height: 150,
                        height: 600,
                        initialValue: 'Hello'
                      }">
                    </editor>
                    <div
                      *ngIf="createContentForm.controls.textContent.errors?.required && createContentForm.controls.textContent.touched"
                      class="text-editor-alert">
                      <div class="text-editor-alert-text">
                        Please add text content for the training module
                      </div>
                    </div>
                    <br>
                  </div>
                </div>

                <!-- Image Content -->
                <div *ngIf="ImageFlag">
                  <hr>
                  <h2>Upload Images</h2>
                  <p class="order-instruction-label">Please upload up to 6 images:</p>
                  <p>Note: You cannot replace a single image at a time. All images will be updated with the new selection.</p>
                  <div class="image-upload-container">
                    <button mat-stroked-button color="primary" (click)="fileUploader.click()">Select Images</button>
                    <mat-grid-list cols="3" rowHeight="2:1" *ngIf="imageFlag">
                      <mat-grid-tile *ngFor="let item of imageContentArray">
                        <div class="tile-div">
                          <img class="uploaded-image" src="{{item}}">
                        </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                    <br>
                  </div>
                </div>

                <!-- Hidden Image File Input -->
                <input type="file" accept="image/*" multiple #fileUploader id="fileUploader" (change)="onImageSelect($any($event.target).files)" style="display: none;">
                <input type="hidden" formControlName="contentOrder">

              </div>
            </div>
            <button mat-stroked-button matStepperPrevious color="primary" (click)="resetSecondDefault()">Back</button>
            <button mat-stroked-button matStepperNext color="primary" [disabled]="!createContentForm.valid">Next</button>
            <button mat-stroked-button color="warn" [disabled]="!(createContentForm.dirty) && !markedDirty" (click)="resetSecondDefault()">Discard Changes</button>
          </form>
        </mat-step>
        <mat-step [stepControl]="createForm" [editable]="isEditable">
          <ng-template matStepLabel>Training Module Update Confirmation</ng-template>
          <div class="stepper-content-container">
            <h1>Training Module: <strong>{{moduleName}}</strong>, has had updates made to it.</h1>
            <p style="margin-left: 1.6%;">Would you like to re-publish this training module with its new updates?</p>
            <button mat-stroked-button matStepperPrevious color="primary">Back</button>
            <button mat-stroked-button matStepperNext color="primary" [disabled]="!(createContentForm.dirty) && !(createForm.dirty)" (click)="updateTrainingModule()">Publish</button>
            <br>
            <div *ngFor="let file of filesUploaded">
              <app-upload-task-training [file]="file" (urlStringEvent)="receiveUrlString($event)"></app-upload-task-training>
            </div>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
    <mat-progress-bar [mode]="loadingMode" value="100"></mat-progress-bar>
  </div>
</div>
