<ion-header>
  <ion-toolbar>
    <ion-title>Update Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentActionSheet()"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spinner-container" *ngIf="!customerToUpdate">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <div class="container">
    <ng-container *ngIf="customerToUpdate">
      <form [formGroup]="updateForm">
        <ion-item lines="full">
          <ion-label position="stacked">Name</ion-label>
          <ion-input formControlName="CustomerName"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Surname</ion-label>
          <ion-input formControlName="CustomerSurname"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Telephone Number</ion-label>
          <ion-input type="tel" formControlName="CustomerTelephone"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Address</ion-label>
          <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
            (onAddressChange)="handleAddressChange($event)" />
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Street Number</ion-label>
          <ion-input formControlName="StreetNumber"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Street Name</ion-label>
          <ion-input formControlName="StreetName"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">City/Town</ion-label>
          <ion-input formControlName="City"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Province</ion-label>
          <ion-input formControlName="Province"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Postal Code</ion-label>
          <ion-input formControlName="PostalCode"></ion-input>
        </ion-item>
        <ion-item lines="full" hidden>
          <ion-label position="stacked">Latitude</ion-label>
          <ion-input formControlName="Lat"></ion-input>
        </ion-item>
        <ion-item lines="full" hidden>
          <ion-label position="stacked">Longitude</ion-label>
          <ion-input formControlName="Lng"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Join Loyalty Program</ion-label>
          <ion-checkbox color="primary" formControlName="IsLoyaltyProgram"></ion-checkbox>
        </ion-item>
      </form>
    </ng-container>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="button-wrapper">
      <ng-container *ngIf="customerToUpdate; else elseTemplate">
        <ion-button color="primary" (click)="presentConfirm()" [disabled]="!updateForm.valid">Update Details</ion-button>
      </ng-container>
      <ng-template #elseTemplate>
        <ion-button color="primary" disabled>Update Details</ion-button>
      </ng-template>
    </div>
  </ion-toolbar>
</ion-footer>
