<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="presentPicker()">Filter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="spinner-container" *ngIf="!isOrders">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ng-container *ngIf="orders">
    <ion-card *ngIf="orders.length <= 0">
      <ion-item>
        <ion-icon name="sad-outline" color="tertiary" slot="start"></ion-icon>
        <ion-label color="tertiary">No Orders</ion-label>
        <ion-button fill="outline" slot="end" [routerLink]="['/tabs']" routerDirection="forward">Shop</ion-button>
      </ion-item>
      <ion-card-content>
        <h6>Once you make an order you will be able to view it here.</h6>
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let order of filteredOrders">
      <ion-item>
        <ion-icon [name]="order.icon" [color]="order.color" slot="start"></ion-icon>
        <ion-label [color]="order.color">{{ order.orderStatus }}</ion-label>
        <ion-button fill="outline" slot="end" (click)="onClick(order.orderID)">View</ion-button>
      </ion-item>
      <ion-card-content>
        <ion-card-header>
          <div class="order-info-container">
            <ion-card-subtitle>Order Number: <span class="highlight">{{ order.orderID }}</span></ion-card-subtitle>
            <ion-card-subtitle class="date-wrapper">{{ order.orderDate | date:"MMMM d, y" }}</ion-card-subtitle>
          </div>
        </ion-card-header>
        <div class="order-content-wrapper">
          <ng-container *ngFor="let item of order.orderLines">
            <ng-container *ngIf="item.productImage; else elseTemplate">
              <ion-thumbnail>
                <ion-img [src]="item.productImage"></ion-img>
              </ion-thumbnail>
            </ng-container>
            <ng-template #elseTemplate>
              <ion-thumbnail>
                <ion-img [src]="'../../assets/images/the-food-works-logo.png'"></ion-img>
              </ion-thumbnail>
            </ng-template>
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
