<div>
  <strong>
    <span style="margin-bottom: 15%">
      <h2 style="color: #4DB6AC">Please Select a Cooking List</h2><br>
    </span>
  </strong>
  <div mat-dialog-content style="width: 500px;">

    <div *ngFor="let list of message" class="selection-container">
      <mat-checkbox (change)="checkCheckBoxvalue(list)">

        {{list.CookingListDate| date: 'dd/MM/y'}}

      </mat-checkbox>
    </div>

    <br><br>
  </div>
  <div mat-dialog-actions align="right">
    <button mat-stroked-button color="primary" (click)="onConfirm('selected')">Choose</button>
    <button mat-stroked-button color="primary" (click)="onConfirm('add')">Add Cooking List</button>
  </div>
</div>
