<!-- If In Complete Mode -->

<div *ngIf="!viewMode">
  <div class="module-content-container" *ngFor="let item of trainingModuleInfo">
    <mat-tab-group animationDuration="2000ms" mat-align-tabs="center" [(selectedIndex)]="moduleTabIndex">
      <mat-tab label="Module Introduction" #tab [disabled]='!tab.isActive'>
        <div class="module-introduction-content">
          <h1>{{item.ModuleName}}</h1>
          <div class="module-introduction-text">
            <p>
              {{item.ModuleDescription}}
            </p>
            <div class="module-introduction-icons">
              <mat-icon>schedule</mat-icon>{{item.ModuleDuration}} Minutes
              <mat-icon class="content">subject</mat-icon>{{contentOrder}}
              <mat-icon class="content">language</mat-icon>{{item.ModuleLanguage}}
            </div>
            <button mat-stroked-button color="primary" (click)='beginModule()'>Begin</button>
            <br>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Learning Area" #tab1 [disabled]='!tab1.isActive'>
        <div class="module-learning-area-content">
          <mat-card [class.mat-elevation-z8]="isActive">
            <div class="module-mat-card-content">
              <iframe *ngIf="videoContent" [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen rel="0"></iframe>
              <div class="module-mat-card-content-info">
                <div class="card-content-heading" *ngIf="textContent">
                  <div class="card-content-text" [innerHtml]="item.textContent"></div>
                </div>
                <div *ngIf="imageContent">
                  <div class="card-content-image">
                    <mat-grid-list gutterSize="40px" cols="3" rowHeight="1.5:1" class="module-image-grid">
                      <mat-grid-tile *ngFor="let item of imageArray; let i = index" style="border: 10px solid #4DB6AC;">
                        <img src="{{item}}" alt="{{item}}" layout-fill class="images-content">
                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>
                </div>
                <button mat-raised-button color="primary" class="button-module-finish" (click)="completeModule()">Finish</button>
                <button mat-stroked-button color="primary" class="button-module-later" (click)="endModule()">Complete Later</button>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Module Evaluation" #tab2 [disabled]='!tab2.isActive'>
        <div class="module-evaluation-content">
          <div class="module-introduction-content">
            <div>
              <h1>Training Module <b>{{moduleName}}</b> Completed!</h1>
              <h2 style="margin-left: 5.1%; margin-top: -0.5%;">Module Evalutation:</h2>
              <mat-list role="list" style="margin-left: 5.2%; margin-top: 0%;">
                <span>Date Completed:</span>{{currentDate | date:'yyyy-MM-dd'}}<br><br><br>
                <span>Time Elapsed:</span>{{fullTime}}<br>
                <button mat-stroked-button color="primary" [routerLink]="['/training-modules-home-page']">Return</button>
              </mat-list>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<!-- If In View Mode-->
<div *ngIf="viewMode">
  <div class="module-content-container" *ngFor="let item of trainingModuleInfo">
    <mat-tab-group animationDuration="2000ms" mat-align-tabs="center">
      <mat-tab label="Module Introduction" #matgroup>
        <div class="module-introduction-content">
          <h1>{{item.ModuleName}} (View)</h1>
          <div class="module-introduction-text">
            <p>
              {{item.ModuleDescription}}
            </p>
            <div class="module-introduction-icons">
              <mat-icon>schedule</mat-icon>{{item.ModuleDuration}} Minutes
              <mat-icon class="content">subject</mat-icon>{{contentOrder}}
              <mat-icon class="content">language</mat-icon>{{item.ModuleLanguage}}
            </div>
            <mat-list role="list">
              <span>Date and Time Completed:</span>{{item.DateCompleted}}<br><br><br>
              <span>Time Elapsed:</span>{{item.TimeElapsed}}<br>
            </mat-list>
            <button mat-stroked-button color="primary" (click)='moveToSelectedTab("Learning Area")'>Next</button>
            <br>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Learning Area">
        <div class="module-learning-area-content">
          <mat-card [class.mat-elevation-z8]="isActive">
            <div class="module-mat-card-content">
              <iframe *ngIf="videoContent" [src]="safeSrc" frameborder="0" webkitallowfullscreen mozallowfullscreen
                allowfullscreen></iframe>
              <div class="module-mat-card-content-info">
                <div class="card-content-heading" *ngIf="textContent">
                  <div class="card-content-text" [innerHtml]="item.textContent"></div>
                </div>
                <div *ngIf="imageContent">
                  <div class="card-content-image">
                    <mat-grid-list gutterSize="40px" cols="3" rowHeight="1.5:1" class="module-image-grid">
                      <mat-grid-tile *ngFor="let item of imageArray; let i = index" style="border: 10px solid #4DB6AC;">
                        <img src="{{item}}" alt="{{item}}" layout-fill class="images-content">
                      </mat-grid-tile>
                    </mat-grid-list>
                  </div>
                </div>
                <button mat-stroked-button color="primary" (click)='moveToSelectedTab("Module Introduction")'
                  class="button-module-later">Return</button>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
