<div class="home-page-container">
  <app-notification></app-notification>
  <div class="training-modules-container">
    <div class="training-modules-content">
      <mat-drawer-container backdrop="true" autosize>
        <mat-drawer #trainingModuleDrawer mode="push" opened="true">
          <h2>Other Options</h2>
          <button mat-flat-button color="primary" (click)="openLinkLoyalty()">Link Loyalty Member</button>
          <button mat-flat-button color="primary" (click)="openAddLoyalty()">Add Loyalty Member</button>
          <button mat-flat-button color="primary" (click)="openViewLoyaltyPoints()">View Loyalty Progress</button>
          <button mat-flat-button color="primary" routerLink="/complete-order">Collect Order</button>
        </mat-drawer>
        <mat-drawer-content>
          <div class="training-module-content-page">
            <div class="products-container">
              <mat-tab-group mat-align-tabs="start" dynamicHeight (selectedTabChange)="tabChanged($event)">
                <mat-tab label="Main Meals">
                  <mat-grid-list cols="5" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let main of mainMeals" (click)="addToSale(main.productBarcode)"> {{ main.productName }} </mat-grid-tile>
                  </mat-grid-list>
                </mat-tab>
                <mat-tab label="Side Dishes">
                  <mat-grid-list cols="5" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let side of sides" (click)="addToSale(side.productBarcode)"> {{ side.productName }} </mat-grid-tile>
                  </mat-grid-list>
                </mat-tab>
                <mat-tab label="Desserts">
                  <mat-grid-list cols="5" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let dessert of desserts" (click)="addToSale(dessert.productBarcode)"> {{ dessert.productName }} </mat-grid-tile>
                  </mat-grid-list>
                </mat-tab>
                <mat-tab label="Packages">
                  <mat-grid-list cols="5" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let package of packages" (click)="addToSale(package.productBarcode)"> {{ package.productName }} </mat-grid-tile>
                  </mat-grid-list>
                </mat-tab>
              </mat-tab-group>
              <mat-form-field appearance="outline">
                <input matInput #barcode type="text" placeholder="Product Barcode" name="barcodeInput" [(ngModel)]="barcodeInput" (keydown.enter)="captureBarcode(barcode.value)">
              </mat-form-field>
            </div>
            <div class="sale-overview-container">
              <div class="customer-selection-container">
                <h2>Sale Overview</h2>
                <button mat-stroked-button color="primary" (click)="openAttachCustomer()"><span *ngIf="customerId">{{customerName}}</span><span *ngIf="!customerId">Add Customer</span></button>
              </div>
              <div class="overview-list">
                <mat-list>
                  <mat-list-item *ngFor="let item of saleOverview">
                      <h3 matLine> {{ item.productName }} </h3>
                      <p matLine> Quantity: {{ item.quantity }} </p>
                      <p matLine class="demo-2"> Price per Unit: {{ item.productPrice | currency:'R ' }} </p>
                    <div class="item-control">
                      <p> Line Total: {{ (item.productPrice * item.quantity) | currency:'R ' }} </p>
                      <button mat-mini-fab color="warn" (click)="removeFromSale(item.productBarcode)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </mat-list-item>
                </mat-list>
              </div>
              <div class="totals">
                <mat-list class="vouchers-list">
                  <mat-list-item *ngFor="let item of voucherArray; let i = index">
                    <button mat-mini-fab color="warn" (click)="deleteVoucherFromSale(i)">
                      <mat-icon>close</mat-icon>
                    </button>
                    <span class="voucher-span">
                      <div style="font-size: 0.9em"><b>{{ item.code }}</b></div>
                      <div style="width: 10%l; font-size: 0.8em">({{ item.amount | currency: 'R ' }})</div>
                    </span>
                  </mat-list-item>
                </mat-list>
                <mat-list class="totals-list">
                  <mat-list-item class="totals-list-item"> VAT ({{ vatPercentage }}%) : <span class="spacer"></span> <span> {{ vatAmount | currency:'R ' }} </span></mat-list-item>
                  <mat-list-item class="totals-list-item"> Grand Total (VAT incl.) : <span class="spacer"></span> <span> {{ grandTotal | currency:'R ' }} </span></mat-list-item>
                </mat-list>
              </div>
              <div class="button-container">
                <ng-container *ngIf="saleOverview.length > 0; else elseTemplate">
                  <button mat-flat-button color="primary" (click)="openDialog()" [disabled]="buttonDisabled">Pay Now</button>
                  <button mat-flat-button color="primary" (click)="openRedeemVoucher()" [disabled]="buttonDisabled">Voucher</button>
                </ng-container>
                <ng-template #elseTemplate>
                  <button mat-flat-button color="primary" disabled>Pay Now</button>
                  <button mat-flat-button color="primary" disabled>Voucher</button>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="training-module-footer">
            <mat-icon (click)="trainingModuleDrawer.toggle()" class="training-module-menu-button">menu</mat-icon>
            <mat-icon [routerLink] = "['home']" class="training-module-home-button">home</mat-icon>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
    <mat-progress-bar [mode]="loadingMode" value="100"></mat-progress-bar>
  </div>
</div>
