@import '~src/styles.scss';

.login-box-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 70%;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.rainbow-container {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  right: 0;
  background: linear-gradient(124deg, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  background-size: 1800% 1800%;
  backdrop-filter: blur(5px);

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

img {
  width: 10%;
  position: absolute;
  margin-top: 2%;
}

.login-content-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 3em;
    margin-bottom: 15%;
    color: #433d3c;
  }
  mat-form-field {
    margin-bottom: 10%;
  }

  button {
    width: 60%;
    margin-top: 2em;
  }

}

a {
  margin-top: 1em;
  color: #4db6ac;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  cursor:pointer;
}
